<ng-container>
<header>
    <nav class="container-fluid d-flex justify-content-around m-2 p-2">

        <a type="button" class="btn btn-outline-secondary" routerLink="/">
            <div class="d-flex">
                <img class="pr-2 m-auto" alt="rl" width="24px" src="assets/icons/icons8-home.svg"/>
                <p class="m-auto">Home</p>
            </div>
        </a>

        @for (callback of callbacks; track [callback.name, callback.path]) {
            <a type="button" class="btn btn-outline-secondary" routerLink="/{{callback.path}}">
                <div class="d-flex">
                    <p class="m-auto">{{callback.name}}</p>
                </div>
            </a>
        }
        
    </nav>
    @if (infoField !== "") { <p style="font-weight: lighter; color: green;">{{infoField}}</p> }
    @if (errorField !== "") { <p style="font-weight: lighter; color: red;">{{errorField}}</p> }
    
    </header>

    <router-outlet ></router-outlet>
    <footer class="footer p-2 bg-light">
        <p>Icons by <a target="_blank" href="https://icons8.com">Icons8</a></p>
      </footer>
</ng-container>
